/*  Website Colors
    Black       - #000000
    White       - #FFFFFF
    Light Grey  - #BDBAB4
    Green       - #97CE68
    Blue        - #6BCBCA
    Orange      - #FF9900
*/

body {
	background:          #333333 url("dashbg.jpg") center center fixed;
	background-size:     cover;
	font-family:         "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:           calc(16px + 1vh);
	color:               #FFFFFF;
} a {
	color:               inherit;
	text-decoration:     none;
} .btn {
	background:          #97CE68;
	
	color:               #000000;
	font-size:           1em;
	font-family:         inherit;
	font-weight:         bold;
	text-align:          center;
	
	display:             inline-block;
	padding:             .25em;
	min-width:           5em;
	margin:              .15em;
} .btn:hover {
	background:          #6BCBCA;
}

header {
	background:          rgba(0,0,0,1);
	color:               inherit;
	display:             block;
	
	position:            fixed;
	left:                0;
	width:               100%;
	min-height:          3em;
	height:              calc(5em - 5vw);
	z-index:             1;
} header div {
	padding:             .25em;
	display:             inline-block;
	margin:              0;
	position:            absolute;
	top:                 50%;
	transform:           translate(0%, -50%);
} header .title {
	float:               left;
	width:               60%;
	max-width:           20em;
} header .nav {
	max-width:           35%;
	right:               0%;
	text-align:          right;
}

main {
	position:            absolute;
	top:                 calc(5em - 2vw);
	left:                0;
	right:               0;
	text-align:          center;
	padding:             3vh;
} main section {
	background:          rgba(0,0,0,0.9);
	display:             inline-block;
	width:               25em;
	padding-bottom:      1em;
} main section p {
	display:             inline-block;
	width:               75%;
	padding:             0;
	margin:              .5em 0em;
	
	font-size:           1.3em;
	font-family:         inherit;
	font-weight:         bold;
	color:               #6BCBCA;
	
} main section img {
	width:               50%;
	height:              auto;
	margin-top:          1em;
}

main section form {
	display:             inherit;
	width:               100%;
	font-size:           1.15em;
	margin:             .35em;
} main section form input {
	display:             inline-block;
	width:               70%;
	padding:             .25em 1em;
	margin:              .25em 0em;
	
	font-size:           inherit;
	font-family:         inherit;
	color:               #000000;
	
	border-radius:       2em;
	border:              none;
	background-color:    #FFFFFF;
} main section form table {
	margin:             .5em;
} main section form td {
	color:               #6BCBCA;
	vertical-align:      middle;
} main section form td:first-child {
	text-align:          right;
	font-weight:         bold;
	padding:             .5em;
	width:               50%;
} main section form input[type=submit] {
	width:               50%;
	background-color:    #FF9900;
}
